:root {
    --primary-color: rgb(89, 0, 255);
    --bg-color: #ededed;
    --secondary-bg: #ffffff;
    --header-text: #ffffff;
    --text-color: #3c3c3c;
    --page-padding: 24px 48px;
    /* gradient for looping header background */
    --linear-gradient: linear-gradient(-45deg, #ab7dc6, #637cc0, #23a6d5, #23d5ab);
    --section-margin-bottom: 80px;
}

nav {
    position: sticky;
    width: 100%;
    padding: 16px;
    background-color: var(--secondary-bg);
    text-align: center;
}

.nav-links a {
    display: inline-block;
    padding: 8px 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color)
}

.nav-links a:hover {
    border-bottom: 3px var(--primary-color) solid;
}

.nav-links a:active {
    font-weight: 700;
    color: var(--primary-color);
}

html {
    margin: 0 auto;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    margin: 0 auto;
}

main {
    margin: 0 auto;
    max-width: 1440px;
}

/* Background gradient is zoomed in */
header {
    padding: var(--page-padding);
    background: var(--linear-gradient);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
}

/* div to wrap headings to align left with main content */
.header-content {
    margin: 0 auto;
    max-width: 1440px;
}

/* Header background gradient and moves from left to right in a loop */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1.sino {
    font-size: 200px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    line-height: 200px;
    color: var(--header-text);
}

h1.intro {
    font-size: 80px;
    letter-spacing: -2px;
    margin-top: -24px;
    line-height: 80px;
    color: var(--header-text);
}

h1 {
    font-size: 48px;
    color: var(--header-text);
}

h2 {
    font-size: 40px;
    color: var(--text-color)
}

h3 {
    font-size: 28px;
}

span.role:before {
    content: "✏️";
    margin-right: 8px;
    /* mirror the pencil emoji so it faces other way */
    display: inline-block;
    transform: scaleX(-1);
}

span.location:before {
    content: "📍";
    margin-right: 8px;
}

main {
    padding: var(--page-padding);
}

p {
    font-size: 20px;
    color: var(--text-color);
    max-width: 420px;
    line-height: 26px;
}

textarea {
    resize: vertical;
}

#about {
    margin-bottom: var(--section-margin-bottom);
    display: inline-block;
    max-width: 900px;
}

.profile-pic {
    display: inline-block;
    border-radius: 200px;
    margin-right: 24px;
}

.profile-text {
    display: inline-block;
    vertical-align: top;
}



#projects {
    margin-bottom: var(--section-margin-bottom);
}


article {
    background-color: var(--secondary-bg);
    display: inline-block;
    height: 400px;
    width: 300px;
    padding: 16px;
    margin-right: 16px;
    margin-top: 24px;
}

article h3 {
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.caption {
    font-size: 16px;
    line-height: 20px;
}

.proj-tn {
    max-width: 300px;
}

footer {
    text-align: center;
    padding: 24px 16px;
    font-size: 16px;
    background: var(--linear-gradient);
    color: var(--header-text);
    margin-top: 40px;
}